@import "./../../common/stylus/mixin.styl"

.header
	color: #fff
	background-color:rgba(7, 17, 27, .5)
	position: relative
	.content-wapper
		padding: 24px 12px 18px 24px
		font-size: 0
		position: relative
		.avatar
			display: inline-block
			img
				width: 64px
				height: 64px
				border-radius: 2px
		.content
			display: inline-block
			vertical-align: top
			margin-left: 16px
			font-size: 14px
			.title
				margin: 2px 0 8px
				padding-left:34px
				font-size: 16px
				bg-image('./brand')
				background-size:auto 100%
				background-repeat: no-repeat
				background-position: left bottom
			.description
				margin-bottom: 10px
				line-height: 12px
				font-size: 12px
			.support
				.icon
					display: inline-block
					vertical-align: top
					width: 12px
					height: 12px
					margin-right: 4px
					background-size:12px 12px
					background-repeat: no-repeat
					&.decrease
						bg-image('decrease_1')
					&.discount
						bg-image('discount_1')
					&.guarantee
						bg-image('guarantee_1')
					&.invoice
						bg-image('invoice_1')
					&.special
						bg-image('special_1')
				.text
					font-size: 10px
					line-height: 12px
					vertical-align: text-top
		.support-count
			position: absolute
			right: 12px
			bottom: 18px
			padding: 0 8px
			height: 24px
			line-height: 24px
			border-radius: 14px
			background: rgba(0, 0, 0, .2)
			text-align: center
			.count
				font-size: 12px
				color: rgb(255, 255, 255)
			i
				font-size: 12px
	.bulletin-wrapper
		height: 28px
		font-size: 12px
		line-height: 28px
		color: rgb(255, 255, 255)
		bg-image('bulletin')
		background-color: rgba(7, 17, 27, .2)
		background-repeat: no-repeat
		background-position: 5px center
		background-size: auto 18px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		padding:0 20px 0 45px
		position: relative
		i
			position: absolute
			right: 6px
			font-size:12px
			top: 50%
			transform: translateY(-50%)
	.background-header
		z-index: -1
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow:hidden
		img
			width:100%
			height:auto
			filter: blur(10px)






.detail
	position: fixed
	z-index: 999
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(7, 17, 27, .8)
	overflow-y:auto
	display: flex
	flex-flow: column
	font-size:0
	&.fade-enter , &.fade-leave-active
		opacity: 0
		background: rgb(7, 17, 27)
	&.fade-enter-active , &.fade-leave-active
		transition: all .3s
		background: rgba(7, 17, 27, .8)
	.detail-wrapper
		flex:1
		color: #fff
		.detail-main
			padding-top: 64px
			.name
				height: 16px
				line-height: 16px
				text-align:center
				font-size:16px
				font-weight: 700
				margin-bottom: 16px
			.title
				width: 80%
				margin: 30px auto 24px
				display:flex
				.line
					flex:1
					position:relative
					top:-6px
					border-bottom: 1px solid rgba(255, 255, 255, .2)
				.text
					font-size: 14px
					padding: 0 12px
			.supports
				width: 80%
				margin: 0 auto
				.support-item
					padding: 0 12px
					margin-bottom:12px
					font-size:0
					&.last-child
						margin-bottom: 0
					.icon
						display: inline-block
						width:16px
						height: 16px
						vertical-align: top
						margin-right:6px
						background-size: 16px 16px
						background-repeat:no-repeat
						&.decrease
							bg-image('decrease_2')
						&.discount
							bg-image('discount_2')
						&.guarantee
							bg-image('guarantee_2')
						&.invoice
							bg-image('invoice_2')
						&.special
							bg-image('special_2')
					.text
						font-size: 12px
						color:rgb(255, 255, 255)
						line-height: 16px
			.bulletin
				margin: 0 auto
				width: 80%
				p
					padding: 0 12px
					line-height: 24px
					font-size: 12px
	.detail-close
		padding: 16px
		text-align: center
		i
			color: #fff
			font-size: 32px
